@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  /* Tell Tailwind to use Tourney for all headings */
  --font-heading: var(--font-tourney), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #000000; /* Absolute Pitch Black */
  --foreground: #ffffff; /* Pure White */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}